.addProduct{
    color: white;
}
.addProduct form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.addProduct form input, textarea{
    width:35%;
    margin: 10px 0px;
    /* border: rgb(37, 35, 25); */
    text-align: center;
    border-radius: 25px;
}
.addProduct form input{
    padding: 1%;
}